
 <link rel="stylesheet" href="/css/login.css">
<img src="/chatwithust1.jpg">
<h1 id="findpass">AGENT LOGIN</h1>
<div class="form">
<form method="post" action="/admin/login">
  <div class="forceColor"></div>
  <div class="topbar">
    <div class="spanColor"></div>
	 <input type="text" class="input" name="username" placeholder="Username">
    <input type="password" class="input" name="password" placeholder="Password"/>
  </div>
  <button type="submit" class="submit" id="submit" >Login</button>
</form>
</div>